<ons-page>
  <ons-toolbar>
    <div class="center">コタれん</div>
  </ons-toolbar>

  <section style="padding: 8px">
    <div>
  「コタれん」は押尾コータローさんの楽曲練習記録アプリです。
    </div>

    <div>
      <ons-button data-bind="click: sign_up">ユーザ登録</ons-button>
      <ons-button data-bind="click: sign_in">ログイン</ons-button>
    </div>
    <div style="padding-top: 5px">
      <ons-button data-bind="click: fb_sign_in">Facebookでログイン</ons-button>
    </div>

  <p>
    <h3>制限事項</h3>
    <ul>
      <li>この mobile用サイトは現在開発中ですので使える機能が限られています。</li>
      <li>全ての機能を使用したい場合はPCのブラウザからアクセスしてくださいませ。</li>
    </ul>
  <p>
    〜 登録ユーザ <%= @user_count %> 人 〜
  </p>

  </section>
</ons-page>

<%= javascript_include_tag "index_smart_phone" %>
