<div class="comment-area">
<% user.comments.by_tune(tune).each do |c| %>
  <div id="comment_<%= c.id %>">
    <dl>
      <dt>
        <div class="comment-date"><%= c.created_at.strftime("%Y/%m/%d %H:%M") %></div>
      </dt>
      <dd>
        <div class="comment-text">
          <%= auto_link( simple_format(c.text)) %>
        </div>
      </dd>
    </dl>
 </div>
<% end %>
</div> 
