<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
    <ul>
      <% case state %>
      <% when 'tune_list' %>
        <li><a href="#album_list">Album</a></li>
        <li><a href="#tuning_list">Tuning</a></li>
        <li><a href="#">History</a></li>
      <% when 'album_list' %>
        <li><a href="#album_list" class="ui-btn-active ui-state-persist">Album</a></li>
        <li><a href="#tuning_list">Tuning</a></li>
        <li><a href="#">History</a></li>
      <% when 'tuning_list' %>
        <li><a href="#album_list">Album</a></li>
        <li><a href="#tuning_list" class="ui-btn-active ui-state-persist">Tuning</a></li>
        <li><a href="#">History</a></li>
      <% else %>
        © 2011 Naoki KODAMA. 
      <% end %>
    </ul>
  </div>
 
</div>

