<div data-role="header" data-position="fixed">
  <!-- //TODO: 作成中
  <% if current_user == @user %>
    <% if @user.icon_url.blank? == false %>
      <a href="#option" class="ui-btn-left"><%= image_tag(@user.icon_url, :height => "16" ) %> Option</a>
    <% else %>
      <a href="#option" data-icon="gear" class="ui-btn-left">Option</a>
    <% end %>
  <% end %>
  -->
 
  <% case state %>
  <% when 'tune_list' %>
    <h3>コタれん</h3>
  <% when 'album_list' %>
    <h3>アルバム</h3>
  <% when 'tuning_list' %>
    <h3>チューニング</h3>
  <% when 'tune' %>
    <a data-rel="back" data-icon="back" class="ui-btn-left">戻る</a>
    <h3>曲詳細</h3>
  <% end %>

  <% if current_user %>
    <%= link_to 'Logout', destroy_user_session_path , :method => :get, :class => 'ui-btn-right' %>
  <% else %>
    <%= link_to 'Login', new_user_session_path, :class => 'ui-btn-right'  %>
  <% end %>
</div>


