<table>
  <% @tunes.each do |t| %>
    <% if current_user %>
      <tr><td><%= t.title %></td><td><span class="progress"><%= t.progress_val(current_user) %></span></td></tr>
    <% else %>
      <tr><td><%= t.title %></td></tr>
    <% end %>
  <% end %>
</table>

