<ons-navigator page="list.html">
</ons-navigator>

<ons-template id="list.html">
<ons-page>
  <ons-toolbar>
    <div class="center">Kotaren</div>
    <div class="right"><ons-toolbar-button data-bind="click: addItem"><ons-toolbar-button>Add</ons-toolbar-button></ons-toolbar-button></div>
  </ons-toolbar>

  <ons-list data-bind="foreach: items">
    <ons-list-item>
      <div class="list__item__center">
      <div class="list__item__title">  
        <ons-carousel swipeable auto-refresh style="height: 40px; width: 100%;" initial-index="0" auto-scroll>
          <ons-carousel-item data-bind="text: content, click: function(){$parent.nextCarouselItem($index);}"></ons-carousel-item>
          <ons-carousel-item>
            <ons-button data-bind="click: $parent.removeItem">Delete this item</ons-button>
            <ons-button data-bind="click: $parent.detailsItem">See details</ons-button>
          </ons-carousel-item>
        </ons-carousel>
      </div>
      </div>
    </ons-list-item>
  </ons-list>
</ons-page>
</ons-template>

<ons-template id="details.html">
  <ons-page>
  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">Items details</div>
  </ons-toolbar>
    <ons-row style="margin-top: 100px; text-align: center;">
        <ons-col>
            <p style="color: #666; font-size: 18px;">You clicked on: <span style="color: #999" data-bind="text: item.content"></span></p>
        </ons-col>
    </ons-row>
</ons-page>
</ons-template>

