<ons-navigator>
</ons-navigator>

<ons-template id="list.html">
<ons-page>
  <ons-toolbar>
    <div class="center">Kotaren</div>
    <div class="right"><ons-toolbar-button data-bind="click: addItem"><ons-toolbar-button>Add</ons-toolbar-button></ons-toolbar-button></div>
  </ons-toolbar>

  <ons-list data-bind="foreach: items">
    <ons-list-item>
      <div class="left">
        <img class="list__item__thumbnail" data-bind="attr: {src: '/assets/albums/mini/' + albums[0].title + '_s.jpg'}">
      </div>
      <div class="center">
        <span class="list__item__title" data-bind="text: tune.title"></span>
        <span class="list__item__subtitle" data-bind="text: tuning.name"></span>
      </div>
      <div class="right">
        <ons-switch checked></ons-switch>
      </div>
    </ons-list-item>
  </ons-list>
</ons-page>
</ons-template>

<ons-template id="details.html">
  <ons-page>
  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">Items details</div>
  </ons-toolbar>
    <ons-row style="margin-top: 100px; text-align: center;">
        <ons-col>
            <p style="color: #666; font-size: 18px;">You clicked on: <span style="color: #999" data-bind="text: item.content"></span></p>
        </ons-col>
    </ons-row>
</ons-page>
</ons-template>

