<ons-navigator>
</ons-navigator>

<ons-template id="list.html">
<ons-page>
  <ons-toolbar>
    <div class="center">Kotaren</div>
    <div class="right"><ons-toolbar-button data-bind="click: addItem"><ons-toolbar-button>Add</ons-toolbar-button></ons-toolbar-button></div>
  </ons-toolbar>

  <ons-list data-bind="foreach: items">
    <ons-list-item tappable data-bind="click: $parent.detailsItem">
      <div class="left">
        <img class="list__item__thumbnail" data-bind="attr: {src: '/assets/albums/mini/' + albums[0].title + '_s.jpg'}">
      </div>
      <div class="center">
        <span class="list__item__title" data-bind="text: tune.title"></span>
        <span class="list__item__subtitle" data-bind="text: tuning.name"></span>
      </div>
      <div class="right">
        <span class="list__item__subtitle" data-bind="text: progress.percent + '%'"></span>
      </div>
    </ons-list-item>
  </ons-list>
</ons-page>
</ons-template>

<ons-template id="details.html">
  <ons-page data-bind="with: item">
  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center" data-bind="text: tune.title"></div>
  </ons-toolbar>
  <ons-row>
    <ons-col>
      <!-- ko if: albums.length == 1 -->
        <img width="90%" data-bind="attr: {src: '/assets/albums/' + albums[0].title() + '.jpg'}">
      <!-- /ko -->
      <!-- ko if: albums.length != 1 -->
        <!-- ko foreach: albums -->
          <img width="40%" data-bind="attr: {src: '/assets/albums/mini/' + title() + '_s.jpg'}">
        <!-- /ko -->
      <!-- /ko -->
    </ons-col>
    <ons-col>
      <!-- ko foreach: albums -->
        <div data-bind="text: title"></div>
      <!-- /ko -->
      <div data-bind="text: tuning.name"></div>
    </ons-col>
  </ons-row>
  <ons-row>
    <ons-col>
      last updated at <span class="list__item__subtitle" data-bind="text: $parent.updated_date"></span>
    </ons-col>
    <ons-col width="50px">
      <span class="list__item__subtitle" data-bind="text: progress.percent() + '%'"></span>
    </ons-col>
  </ons-row>
  <ons-row>
    <ons-col>
      <ons-progress-bar data-bind="value: progress.percent"></ons-progress-bar>
    </ons-col>
  </ons-row>
  <ons-row style="padding-top: 5px;">
    <ons-col>
      <ons-button modifier="large" data-bind="click: $parent.do_minus10"><ons-icon icon="fa-minus"></ons-icon> 10</ons-button>
    </ons-col>
    <ons-col>
      <ons-button modifier="large" data-bind="click: $parent.do_plus"><ons-icon icon="fa-plus"></ons-icon></ons-button>
    </ons-col>
    <ons-col>
      <ons-button modifier="large" data-bind="click: $parent.do_plus10"><ons-icon icon="fa-plus"></ons-icon> 10</ons-button>
    </ons-col>
  </ons-row>
</ons-page>
</ons-template>

