<div id="menu">
  <ul>
  <%= form_tag( url_for(:action => 'get_tunes_list'), :remote => true ) do %>
    <li><%= select_tag('album_title', options_for_select(["All Albums"] + @albums.map(&:title)) ) %>
    <li><%= select_tag('tuning_name', options_for_select(["-"] + Tuning.all.map(&:name).uniq.sort) ) %>
    <li><%= submit_tag('Update') %>
  <% end %>
  </ul>

</div>

<div id="main">
  <div id="tune_list"></div>
</div>
