// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#album-list img{
  height: 128px;
}

.album-caption {
  height: 60px;
}

#album-tunes img{
  width: 160px;
}
.album-tag {
  height: 50px;
}
