/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  color: #444;
  font: 12px/1.55em arial, helvetica, sans-serif;
}

#wrapper {
  width: 900px;
  margin: auto;
}

.logo {
  margin-top: 0px;
  margin-bottom: 10px;
  float :left;
}   

.login {
  float: right;
}

.clear {
  clear:both;　/*floatの解除*/
}

#menu, #main , #detail, #content, #sidebar{
  background-color: #f6f6f6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 10px;
  box-shadow: 4px 4px 6px 0px #999;
  -moz-box-shadow: 4px 4px 6px 0px #999;
  -webkit-box-shadow: 4px 4px 6px 0px #999;
}


#menu {
  float: left;
  width: 270px;
}

#menu ul {
  list-style-type:none;
}

.out-of-tabs{
  margin: 4px;

}

.tune_num,.tune_s_num{
  color: blue;
}

.tune_num {
  font-size: 30px;
}

.tune_s_num {
  font-size: 18px;
}

#main {
  float: right;
  width: 620px;
}

#tune-list {
  padding: 4pt;
}

#detail {
  float: left;
  width: 400px;
}

#detail-menu {
  float: left;
  width: 400px;
}

#detail ul {
  list-style-type:none;
}

#video-list {
  float: right;
  width: 480px;
}

#video-list h2{
  margin-top: 0px;
}

.tuning {
  font-size: 26px;
  color: blue;
}

.holded a { color: blue; }
.holded a:hover { color: #EA1F00; }

a { color:#262626; text-decoration:none; }
a:hover { color:#EA1F00; }

.tune-title{
  width: 200px;
}

.tune-big-title{
  font-size: large;
}

.album-title{
  margin-left: 10px;
  color: #777;
}
.tuning-name{
  width: 150px;
  color: #666;
}

.thumbnail {
  text-align: center;
  float: left;
  width: 145px;
  height: 200px;
  cursor: pointer;
  font-size: 0.8em;
  margin: 5px 5px 0 0;
  padding: 3px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 4px 4px 6px 0px #999;
  -moz-box-shadow: 4px 4px 6px 0px #999;
  -webkit-box-shadow: 4px 4px 6px 0px #999;
}

.thumbnail:hover {
  background-color: #f0f8ff;
  border: 1px solid #c0cfff;
}

.thumbnail img {
  width: 145px;
}

#tune-list table {
  border-collapse:collapse;
}

#tune-list td {
  margin: 5px 5px 5px 5px;
  padding: 0;
  border-bottom: 1px dashed #bbb;
}

#tune-list tr:hover {
  background-color: #f0f8ff;
}

/* for welcome */
#content{
  width: 500px;
  margin-bottom: 20px;
  padding: 20px;
  float: left;
}

#sidebar {
  width: 320px;
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
  margin-bottom: 20px;
  padding: 15px 10px;
  background-color: #f6f6f6;
}

#comments textarea{
  width: 374px;
  height: 34px;
}

#comments dl{
  background-color: #fbfbfb;
  margin-top: 5px;
  margin-bottom: 0px;
}

#comments dt{
  color: #555;
  margin-left: 3px;
  margin-right: 5px;
}

#comments dd{
  margin-left: 8px;
  margin-right: 3px;
  margin-top: 0px;
  color: #666;
}

#comments p{
  margin: 0px;
}

#comments span a{
  color: mediumvioletred; 
  font-style: bold;
}

.comment-date{
    float: left;
}

.comment-destroy{
    float: right;
}
.comment-destroy a{ color: #ccc; }
.comment-destroy a:hover{ color: #EA1F00; }

.comment-text a{
  color: #44f;
}

.comment-name {
  text-align: right;
  color: black;
}

#my_comments, #other_comments{
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 5px;
}
 
#my_comments dl, #other_comments dl{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.fixed{
  list-style-type:none;
  color: #F00;
}

.user-name {
  margin-bottom: 0;
  font-size: 30px;
  height: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  text-shadow: 1px 1px 0 white;
  color: #495961;
  float: left;
  width: 380px;
  
}

.this-is-you {
  margin: 5px;
  width: 190px;
  float: left;
}

.minibutton {
  position: relative;
  display: inline-block;
  height: 21px;
  padding: 0 0 0 3px;
  margin-left: 5px;
  cursor: pointer;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 0 white;
  white-space: nowrap;
  border: 1px solid #D4D4D4;
  border-radius: 3px;
  background: #F4F4F4;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f4f4f4',endColorstr='#ececec');
  background: -webkit-gradient(linear,left top,left bottom,from(#F4F4F4),to(#ECECEC));
  background: -moz-linear-gradient(top,#F4F4F4,#ECECEC);
  background: -o-linear-gradient(top,#F4F4F4,#ECECEC);
}

.minibutton > span {
  display: block;
  height: 21px;
  padding: 0 9px 0 7px;
  line-height: 21px;
}

.user-option {
  float: left;
}

.user-option dl{
  margin: 0;
}

.user-option dl dt{
  margin: 0;
  float: left;
  width: 55px;
  color: #999;
}

.user-option dl dd{
  float: left;
  margin: 0;
  width: 100px;
}


#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

dd .field_w5th_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.clear {
  clear:both;
}

