/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  color: #444;
  font: 12px/1.55em arial, helvetica, sans-serif;
}

#wrapper {
  width: 900px;
  margin: auto;
}

.logo {
  margin-top: 0px;
  margin-bottom: 10px;
  float :left;
}   

.login {
  float: right;
}

.clear {
  clear:both;　/*floatの解除*/
}

#menu {
  float: left;
  width: 260px;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #999;
  -moz-box-shadow: 2px 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px 2px #999;
}

#menu ul {
  list-style-type:none;
}

.tune_num {
  font-size: 30px;
  color: blue;
}

.tune_s_num {
  font-size: 18px;
  color: blue;
}

#main {
  float: right;
  width: 580px;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #999;
  -moz-box-shadow: 2px 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px 2px #999;
}

#detail {
  float: left;
  width: 380px;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #999;
  -moz-box-shadow: 2px 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px 2px #999;
}

#detail-menu {
  float: left;
  width: 380px;
}

#detail ul {
  list-style-type:none;
}

#video-list {
  float: right;
  width: 480px;
}

#video-list h2{
  margin-top: 0px;
}

.tuning {
  font-size: 26px;
  color: blue;
}

.holded a { color: blue; }
.holded a:hover { color: #EA1F00; }

a { color:#262626; text-decoration:none; }
a:hover { color:#EA1F00; }

.tune-title{
  width: 200px;
}

.tune-big-title{
  font-size: large;
}

.album-title{
  margin-left: 10px;
  color: #777;
}
.tuning-name{
  width: 150px;
  color: #666;
}

.thumbnail {
  text-align: center;
  float: left;
  width: 145px;
  height: 200px;
  cursor: pointer;
  color: blue;
  font-size: 0.8em;
  margin: 5px 5px 0 0;
  padding: 3px;
  border: 1px solid #c0cfff;
}

.thumbnail:hover {
  background-color: #f0f8ff;
  border: 1px solid #c0cfff;
}

.thumbnail img {
  width: 145px;
}

#tune-list table {
  border-collapse:collapse;
}

#tune-list td {
  margin: 5px 5px 5px 5px;
  padding: 0;
  border-bottom: 1px dashed #c0cfff;
}

#tune-list tr:hover {
  background-color: #f0f8ff;
}

ul.tab {
    margin: 0;
    padding: 0;
    border-bottom: 2px #aaa solid;
}

ul.tab li {
    float: left;
    margin: 0 0 0 5px;
    position: relative;
    bottom: -2px;
    list-style-type: none;
    border: 1px #aaa solid;
    border-top: none;
    border-bottom: 2px #aaa solid;
}

ul.tab li.none {
    border-bottom: 2px #f6f6f6 solid;
    font-weight: bold;
}
ul.tab li a {
    color: #000;
    display: block;
    padding: 3px 10px 5px;
    text-decoration: none;
    background: #f6f6f6;
}

ul.tab li a.blue0 {
    border-top: 5px #2384dc solid;
}
ul.tab li a.blue1 {
    border-top: 5px #43a4fc solid;
}
ul.tab li a.blue2 {
    border-top: 5px #63c4ff solid;
}
ul.tab li a.blue3 {    
    border-top: 5px #83e4ff solid;
}

ul.tab li a:hover {
  background-color: #f0f8ff;
}

ul.comment_tab {
    margin: 0;
    padding: 0;
    border-bottom: 2px #aaa solid;
}

ul.comment_tab li {
    float: left;
    margin: 0 0 0 5px;
    position: relative;
    bottom: -2px;
    list-style-type: none;
    border: 1px #aaa solid;
    border-top: none;
    border-bottom: 2px #aaa solid;
}

ul.comment_tab li.none {
    border-bottom: 2px #f6f6f6 solid;
    font-weight: bold;
}
ul.comment_tab li a {
    color: #000;
    display: block;
    padding: 3px 10px 5px;
    text-decoration: none;
    background: #f6f6f6;
}

ul.comment_tab li a.blue0 {
    border-top: 5px #2384dc solid;
}

ul.comment_tab li a.blue1 {
    border-top: 5px #43a4fc solid;
}

ul.comment_tab li a:hover {
  background-color: #f0f8ff;
}


/* clerfix */
.clear:after {
    content:"";
    display:block;
    overflow:hidden;
}
.clear:after {
    clear:both;
}
.clear {
    zoom:1;
}

#content{
  width: 500px;
  margin-bottom: 20px;
  padding: 20px;
  float: left;
  background-color: #f6f6f6;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #999;
  -moz-box-shadow: 2px 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px 2px #999;
}

#sidebar {
  width: 320px;
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
  margin-bottom: 20px;
  padding: 15px 10px;
  background-color: #f6f6f6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #999;
  -moz-box-shadow: 2px 2px 2px 2px #999;
  -webkit-box-shadow: 2px 2px 2px 2px #999;
}

#comments textarea{
  width: 374px;
  height: 34px;
}

#comments dl{
  background-color: #fbfbfb;
  margin-top: 5px;
  margin-bottom: 0px;
}

#comments dt{
  color: #555;
  margin-left: 3px;
  margin-right: 5px;
}

#comments dd{
  margin-left: 8px;
  margin-right: 3px;
  margin-top: 0px;
  color: #44f;
}

#comments p{
  margin: 0px;
}

#comments span a{
  color: mediumvioletred; 
  font-style: bold;
}

.comment-date{
    float: left;
}

.comment-destroy{
    float: right;
}
.comment-destroy a{ color: #ccc; }
.comment-destroy a:hover{ color: #EA1F00; }

.comment-text a{
  color: #44f;
}

.comment-name {
  text-align: right;
  color: black;
}

#my_comments{
  margin-top: 5px;
  margin-bottom: 0px;
}

#other_comments{
  margin-top: 5px;
  margin-bottom: 0px;
}

.fixed{
  list-style-type:none;
  color: #F00;
}

.user-name {
  margin-bottom: 0;
  font-size: 30px;
  height: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  text-shadow: 1px 1px 0 white;
  color: #495961;
  float: left;
  width: 700px;
  
}

.user-option {
  float: left;
}

.user-option dl{
  margin: 0;
}

.user-option dl dt{
  margin: 0;
  float: left;
  width: 60px;
  color: #999;
}

.user-option dl dd{
  float: left;
  margin: 0;
}


#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

dd .field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.clear {
  clear:both;
}

