/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  color: #444;
  font: 12px/1.55em arial, helvetica, sans-serif;
}

#wrapper {
  width: 800px;
}

.logo {
  float: left;
}

.login {
  float: right;
}

.clear {
  clear:both;　/*floatの解除*/
}

#menu {
  float: left;
  width: 300px;
}

#menu ul {
  list-style-type:none;
}


#main {
  float: right;
  width: 500px;
}
