/* 文字列を省略しないようにする */
.ui-header .ui-title, /* header */
.ui-footer .ui-title, /* footer */
.ui-btn-inner, /* button */
.ui-li-heading, /* listview heading */
.ui-li .ui-btn-text a.ui-link-inherit, /* listview link */
.ui-li-desc /* listview description */
{
  overflow: visible;
  white-space: normal;
}

.tuning {
  font-size: 24px;
}

.tune-album-img {
  text-decoration: none;
}

.album-img {
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
}
