/* 文字列を省略しないようにする */
.ui-header .ui-title, /* header */
.ui-footer .ui-title, /* footer */
.ui-btn-inner, /* button */
.ui-li-heading, /* listview heading */
.ui-li .ui-btn-text a.ui-link-inherit, /* listview link */
.ui-li-desc /* listview description */
{
  overflow: visible;
  white-space: normal;
}

.tuning {
  font-size: 24px;
}

.album-title {
  font-size: 10px;
}

.tune-album-img {
  text-decoration: none;
}

.album-img {
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
}

.tune-count {
  font-size: 12px;
  color: #999;
}

.same-tuning-btn {
  text-decoration: none;
}

.tuning-name {
  color: skyblue;
}

.since {
  font-size: 12px;
  color: #999;
}

.progress-controll{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px 4px 10px;
  background-color: gray;
  border-radius: 20px;         /* CSS3 */
  text-align: center;
  -moz-border-radius: 20px;    /* Firefox */
  -webkit-border-radius: 4px; /* Safari,Chrome */
}

.comment-one{
  margin: 4px 0px 4px 0px;
  padding: 2px 5px 0px 5px;
  background-color: #444;
  border-radius: 20px;         /* CSS3 */
  -moz-border-radius: 20px;    /* Firefox */
  -webkit-border-radius: 4px; /* Safari,Chrome */
}

.comment-name {
  color: #bbb;
  font-size: 12px;
}

.comment-date {
  color: #999;
  font-size: 12px;
  margin-right: 5px;
}

.comment-text p{
  margin: 0px;
  padding: 2px 4px 2px 4px;
  font-size: 14px;
}

.label{
  padding: 0px 4px 0px;
  font-size:11.049999999999999px;
  font-weight:bold;
  color:#ffffff;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color:#999999;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;}

.label-important{background-color:#BD2C00;}
.label-warning{background-color:#E3E84D;}
.label-success{background-color:#6CC644;}
.label-info{background-color:#4183C4;}

.tuning-tune-title {
  color: #aaa;
}

.progress-word {
  color: yellow;
  font-size: 14px;
}

.progress-word a{
  color: skyblue;
}

.progress-title {
  font-size: 12px;
}

.tune-body {
  padding: 0px 10px;
}

.loading {
  padding: 80px 0px;
}

.remove-reply-button {
  font-size: 12px;
}

.remove-reply, .reply-count {
  float: right;
}

.reply-date {
  color: gray;
  float: right;
  font-size: 12px;
  margin-top: 5px;
}

