// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment textarea{
  width: 374px;
  height: 34px;                                                                       
} 
  
.comment dl{
  margin-top: 5px;                                                                    
  margin-bottom: 0px;
} 
                                                                                      
.comment dt{
  color: #555;
  margin-left: 3px;
  margin-right: 5px;                                                                  
}     
    
.comment dd{                                                                         
  margin-left: 8px;                                                                   
  margin-right: 3px;
  margin-top: 0px;
  color: #44f;                                                                        
}

.comment p{
  margin: 0px;
}

.comment span a{
  color: mediumvioletred; 
  font-style: bold;
}

.you{
  color: red;
  font-style: italic;
  font-size: 12px;
}

