<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes"/>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Kotaren</title>
  <%= stylesheet_link_tag    "application_smart_phone" %>
  <%= javascript_include_tag "application_smart_phone" %>
  <%= csrf_meta_tags %>

</head>
<body style="padding-top: 60px;">
  <%= yield %>
</body>
</html>
